<!DOCTYPE html>
<html>
<head>
<title>Main Page</title>
<style>
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
            
    background-image: url('/static/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
}

.container {
            text-align: center;
        }
</style>
</head>
<body>
   <div class="container">
        <h1 style="color: red; font-size: 40px;"><b>Welcome to Advanxis Elevator Project</b></h1>
        <a href="/calculate1"><button style="color: red; font-size: 20px;">Click here to Continue</button></a>
    </div>
</body>
</html>

<body>
    