<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main Page</title>
<style>
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
            
    background-image: url('/static/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
}

.container {
            text-align: center;
        }
</style>

</head>

<body>
   <div class="container">
        <h2 style="color: red; font-size: 30px;">ADVANXIS DATA FROM THE RESEARCH ON ELEVATORS</h2>
    </div>
</body>